.btnC {
    font-weight: 600;
    background-color: #fff;
    text-decoration: none;
    color: #ff0505;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border: none;
    
}


.btnC:hover {
    background-color: #ff0505;
    color: #fff;
}

.leg{
    text-decoration: none;
    color: #000;
    margin-right: 50px;
}

.leg:hover{
    color: #ff0505;
}