* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f4f6;
    color: #333;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.info-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    width: 100%;
    max-width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.info-container h2 {
    font-size: 1.5rem;
    margin: 1.5rem 1rem 2rem;
    color: #202124;
}

.info-container p {
    font-size: 0.9rem;
    color: #5f6368;
    margin: 0.5rem 1rem 1rem;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #e0e0e0;
    width: 100%;
    color: inherit;
    text-decoration: none !important; /* Elimina subrayado */
}

.info-item:first-of-type {
    border-top: none;
}

.info-item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-decoration: none !important;
    color: inherit;
    padding: 0;
}

.info-item label {
    font-size: 0.9rem;
    color: #5f6368;
    flex: 1;
}

.info-item span {
    font-size: 1rem;
    color: #333;
    font-weight: 500;
    flex: 2;
    text-align: left;
}

.profile-picture {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.arrow-icon {
    font-size: 1.2rem;
    color: #5f6368;
}

.info-item:hover {
    background-color: #f1f3f4;
    cursor: pointer;
}

.btnC {
    font-weight: 600;
    background-color: #fff;
    text-decoration: none;
    color: #ff0505;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border: none;
}

.btnC:hover {
    background-color: #ff0505;
    color: #fff;
}

.leg {
    text-decoration: none !important;
    color: #000;
    margin-right: 50px;
    padding: 0;
}

.leg:hover {
    color: #ff0505;
}
