body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin-top: 50px;
}

h2 {
    color: #343a40;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Color del encabezado de la tabla */
th {

    font-size: 14px;
}

td {
    font-size: 13px;
}

/* Botones */
.btn {
    font-size: 12px;
}

.btn i {
    margin-right: 5px;
}

/* Estilo para la barra de filtros */
.filter-container {
    margin-bottom: 20px;
}

.filter-container input {
    font-size: 13px;
}

.filter-container button {
    font-size: 13px;
}

.card {
    border: none;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
}

.edit-btn {
    background-color: #ffc107;
    border: none;
}

.delete-btn {
    background-color: #dc3545;
    border: none;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: #BBCD5D;
    border: #BBCD5D;
}

.btn-primary:hover {
    background-color: #aabb57;
    border-color: #aabb57;
}

.btn-success {
    background-color: #3C4046;
    border-color: #3C4046;
}

.btn-success:hover {
    background-color: #3C4046;
    border-color: #3C4046;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* Ocultar por defecto */
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 50%;
    text-align: center;
}

.popup h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.popup label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

.popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.popup button {
    padding: 10px 20px;
    margin: 10px 10px 0;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


.popup .btn-aceptar{
    background-color: #BBCD5D;
    border: #BBCD5D;
    color: #fff;
}

.popup .btn-aceptar:hover{
    background-color: #aabb57;
    border-color: #aabb57;
}


.popup .btn-cancelar {
    background-color: #dc3545;
    color: white;
}

.popup button:hover {
    opacity: 0.9;
}