body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fb;
}

.container {
    background: #ffffff;
    max-width: 95%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

h2 {
    color: #343a40;
    font-size: 24px;
    font-weight: bold;
}

/* Color del encabezado de la tabla */
th {

    font-size: 14px;
}

td {
    font-size: 13px;
}

/* Botones */
.btn {
    font-size: 12px;
}

.btn i {
    margin-right: 5px;
}

/* Estilo para la barra de filtros */
.filter-container {
    margin-bottom: 20px;
}

.filter-container input {
    font-size: 13px;
}

.filter-container button {
    font-size: 13px;
}

.card {
    border: none;
}

.edit-btn,
.delete-btn,
.inscribir-btn {
    padding: 5px 10px;
}

.edit-btn {
    background-color: #ffc107;
    border: none;
}

.delete-btn {
    background-color: #dc3545;
    border: none;
}

.inscribir-btn{
    background-color: darkgreen;
    border: none;
}

.btn-basic:hover{
    background-color: rgb(2, 133, 2);
}

.edit-btn:hover,
.delete-btn:hover,
.inscribir-btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background-color: #BBCD5D;
    border: #BBCD5D;
}

.btn-primary:hover {
    background-color: #aabb57;
    border-color: #aabb57;
}

.btn-success {
    background-color: #3C4046;
    border-color: #3C4046;
}

.btn-success:hover {
    background-color: #3C4046;
    border-color: #3C4046;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* Ocultar por defecto */
    justify-content: center;
    align-items: center;
}

.popup {
    position: relative;
    background-color: white;
    margin-top: 10px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 50%;
    text-align: center;
    overflow: scroll;
}

.popup h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.popup label {
    display: block;
    text-align: left;
}

.popup input {
    width: 100%;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.popup button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}


.popup .btn-aceptar{
    background-color: #BBCD5D;
    border: #BBCD5D;
    color: #fff;
}

.popup .btn-aceptar:hover{
    background-color: #aabb57;
    border-color: #aabb57;
}


.popup .btn-secondary {
    background-color: #dc3545;
    color: white;
}

.popup button:hover {
    opacity: 0.9;
}

.metrics-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.metric-card {
    padding: 1.5rem;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
    text-align: center;
}

.metric-value {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary);
    margin: 0.5rem 0;
}

.metric-label {
    color: var(--color-secondary);
    font-size: 0.9rem;
    text-transform: uppercase;
}