.btn-primary{
    background-color: #BBCD5D;
    border: solid 10px #BBCD5D;
}
.btn-primary :hover{
    background-color: #BBCD5D;
    border: solid 10px #BBCD5D;
}
table{
    margin-top: 2.5%;
}
th{
    margin-left: 1.2%;
}

/* Estilo para tablas responsivas */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th, .table td {
    white-space: nowrap; /* Evita que el texto se desborde */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: stretch;
    }

    .filter-container .form-control,
    .filter-container .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .table th, .table td {
        font-size: 12px;
    }
}