.btn-primary{
    background-color: #BBCD5D;
    border: solid 10px #BBCD5D;
}
.btn-primary :hover{
    background-color: #BBCD5D;
    border: solid 10px #BBCD5D;
}
table{
    margin-top: 2.5%;
}
th{
    margin-left: 1.2%;
}