:root {
    --primary: #3C4046;
    --primary-hover: #3C4046;
    --secondary: #3C4046;
    --success: #BBCD5D;
    --danger: #DC3545;
    --warning: #F1C40F;
    --text-primary: #2C3E50;
    --text-secondary: #7F8C8D;
    --border: #BDC3C7;
    --surface: #FFFFFF;
    --background: #f7f9fb;
}

body {
    background: var(--background);
    font-family: 'Inter', system-ui, sans-serif;
    color: var(--text-primary);
}

.container {
    background: #ffffff;
    max-width: 95%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

h2 {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: bold;
}

table {
    margin: 50px 0;
}

th {
    font-size: 14px;
}

#enlace{
    text-decoration: none;
}

td {
    font-size: 13px;
}

.btn {
    font-size: 12px;
}

.btn i {
    margin-right: 5px;
}

/* Estilos específicos para botones */
.btn-primary {
    background-color: #BBCD5D;
    border: #BBCD5D;
}

.btn-primary:hover {
    background-color: #aabb57;
    border-color: #aabb57;
}

.btn-success {
    background-color: #3C4046;
    border-color: #3C4046;
}

.btn-success:hover {
    background-color: #3C4046;
    border-color: #3C4046;
}

.edit-btn {
    background-color: var(--warning);
    border: none;
}

.delete-btn {
    background-color: var(--danger);
    border: none;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

.btn-outline-secondary {
    color: var(--secondary);
    border-color: var(--secondary);
}

.btn-outline-secondary:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: white;
}