*{
    margin: 0;
    padding: 0;
}
.inscripcion{
    border-radius: 10%;
    border: solid rgb(255, 255, 235);
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 8px 8px 5px rgb(235, 235, 217);
}
h2{
    text-align: center;
}
.encabezado, .foto, .ubicacion, .fecha, .datos, .alumno, .dirección, .tutor, .emergencia{
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
    align-items: center;
}
label{
    display:block;
}
label, input{
    margin-left: 3%;
    
}
h3{
    padding-top: 2%;
    padding-left: 5%;
}
.ubicacion{
    margin-left: 25%;
}
.foto{
    margin-right: 20%;
    align-items: center;
    border: solid black;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.foto p{
    text-align: center;
}
.fecha{
    margin-left: 60%;
}
.linea{
    border-bottom: solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
