<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="../Assets/CSS/gestion_usuarios.css">
</head>
<body>
    <h2>Gestión de Usuarios</h2>
    <h4>Crear Nuevo Usuario</h4>
    <form action="">
        <label>Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <label>Email:</label>
        <input type="text" name="email" id="email">
        <label>Tipo de Usuario:</label>
        <select name="user" id="user">
            <option value="Administrador">Administrador</option>
        </select>
        <button>Crear usuario</button>
    </form>
</body>
</html>