<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="../Assets/CSS/gestion_usuarios.css">
</head>
<body>
    <h2>Gestión de Usuarios</h2>
    <a href="" class="btn btn-primary">Crear Usuario</a>
    <br>
    <form action="">
        <label>Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <label>Email:</label>
        <input type="text" name="email" id="email">
        <label>Tipo de Usuario:</label>
        <select name="user" id="user">
            <option value="Administrador">Administrador</option>
        </select>
    </form>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Tipo de Usuario</th>
            <th>Nombre</th>
            <th>Correo electrónico</th>
            <th>Permisos</th>
            <th>Acciones</th>
        </tr>
        <tr>

        </tr>
    </table>
</body>
</html>