<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscribir</title>
    <link rel="stylesheet" href="../Assets/CSS/inscribir.css">
</head>
<body>
    <h2><strong>SOLICITUD DE INSCRIPCIÓN</strong></h2>
    <form>
        <div>
            <label>Fecha:</label>
            <input type="text" name="fecha" class="linea"><br>
            <label>Carrera/Especialidad/Cursos</label><br>
        
            <label>Horario</label><br>
            <input type="text" name="horario" class="linea"><br>
            <label>Matrícula</label>
            <input type="text" name="matricula" class="linea"><br>
        </div>
        <h3><strong>DATOS DEL ALUMNO:</strong></h3><br>
        <div>
            <label>Apellido Paterno</label><br>
            <input type="text" name="apaterno" class="linea"><br>
            <label>Apellido Materno</label><br>
            <input type="text" name="amaterno" class="linea"><br>
            <label>Nombre(s)</label><br>
            <input type="text" name="nombre" class="linea"><br>
            <label>Fecha de Nacimiento <br> DD/MM/AAAA</label><br>
            <input type="text" name="nombre" class="linea"><br>
            <label>Edad</label><br>
            <input type="text" name="edad" class="linea"><br>
            <label>CURP</label><br>
            <input type="text" name="curp" class="linea"><br>
            <label>Teléfono Fijo</label><br>
            <input type="tel" name="telfijo" class="linea"><br>
            <label>Teléfono Celular</label><br>
            <input type="tel" name="celular" class="linea"><br>
            <label>Correo Electrónico</label><br>
            <input type="email" name="email" class="linea"><br>
        </div>
        <h3><strong>DIRECCIÓN:</strong></h3>
        <div>
            <label>Calle y No.</label><br>
            <input type="text" name="calle" class="linea"><br>
            <label>Colonia</label><br>
            <input type="text" name="colonia" class="linea"><br>
            <label>C.P</label><br>
            <input type="number" name="codpostal" class="linea"><br>
            <label>Municipio</label><br>
            <input type="text" name="municipio" class="linea"><br>
        </div>
        <h3><strong>DATOS DEL PADRE O TUTOR:</strong></h3>
        <div>
            <label>Apellido Paterno</label><br>
            <input type="text" name="apaterno" class="linea"><br>
            <label>Apellido Materno</label><br>
            <input type="text" name="amaterno" class="linea"><br>
            <label>Nombre(s)</label><br>
            <input type="text" name="nombre" class="linea"><br>
            <label>Teléfono Fijo</label><br>
            <input type="tel" name="telfijo" class="linea"><br>
            <label>Teléfono Celular</label><br>
            <input type="tel" name="celular" class="linea"><br>
            <label>Correo Electrónico</label><br>
            <input type="email" name="email" class="linea"><br>
        </div>
        <h3><strong>EN CASO DE EMERGENCIA COMUNICARSE CON:</strong></h3>
        <div>
            <label>Apellido Paterno</label><br>
            <input type="text" name="apaterno" class="linea"><br>
            <label>Apellido Materno</label><br>
            <input type="text" name="amaterno" class="linea"><br>
            <label>Nombre(s)</label><br>
            <input type="text" name="nombre" class="linea"><br>
            <label>Parentesco</label><br>
            <input type="text" name="parentesco" class="linea"><br>
            <label>Teléfono</label><br>
            <input type="tel" name="telefono" class="linea"><br>
        </div>
    </form>

</body>
</html>